.bars.svelte-1tjjjii{display:flex;margin-top:8px;gap:8px}.smaller.svelte-1tjjjii{height:25px}hr.svelte-1tjjjii{margin-bottom:15px;margin-top:13px}.breadcrumbs.svelte-1tjjjii{width:50%}.stats.svelte-1tjjjii{height:24px}
