span.svelte-1ec5vyc{letter-spacing:-1px;display:inline-flex}i.half.svelte-1ec5vyc{position:relative}i.half.svelte-1ec5vyc:after{clip-path:polygon(0 0,54% 0,54% 100%,0 100%);content:"ï€…";font-weight:900;position:absolute;top:0;left:0}
