.text.svelte-1a3aggn{color:var(--text-light)}.share.svelte-1a3aggn{display:flex;align-items:center}.share.svelte-1a3aggn b:where(.svelte-1a3aggn){margin-right:10px}.share.svelte-1a3aggn i:where(.svelte-1a3aggn){font-size:1.5rem}
